solutions/standalone-apps/01.01.01/src/main/mule/main.xml
<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  MuleSoft Training - REPL_OfficialNameFirstHalf_REPL: REPL_OfficialNameSecondHalf_REPL
  %%
  Copyright (C) 2015 - 2022 MuleSoft, Inc. All rights reserved. http://www.mulesoft.com
  %%
  The software in this package is published under the terms of the
  Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International Public License,
  a copy of which has been included with this distribution in the LICENSE.txt file.
  #L%
  -->
<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:db="http://www.mulesoft.org/schema/mule/db" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
    <http:listener-config name="httpListConf">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>
    <db:config name="dbConf">
        <db:my-sql-connection host="iltdb.learn.mulesoft.com" port="3306" user="mule" password="***" database="training"/>
    </db:config>
    <flow name="selectFromOrders">
        <http:listener config-ref="httpListConf" path="/orders"/>
        <db:select config-ref="dbConf">
            <db:sql>SELECT * FROM accounts LIMIT 5</db:sql>
        </db:select>
        <set-payload value="#[output text/plain --- typeOf(payload)]"/>
    </flow>
</mule>
